/frontend/node_modules
/backend/node_modules
/backend/.env
/frontend/dist
/.env
/frontend/.env
/frontend/capacitor-plugins/ecoquest-vision/dist
/frontend/capacitor-plugins/ecoquest-vision/node_modules
/frontend/ios/App/.DS_Store

/frontend/guidelines/
/backend/executorch/
/backend/ml/__pycache__/
/backend/ml/.venv/
/backend/dist
backend/venv
/EcoQuest/.DS_Store
/backend/.DS_Store
/frontend/.DS_Store
