/frontend/node_modules
/backend/node_modules
/backend/.env
/frontend/dist
/.env
/frontend/.env
/frontend/capacitor-plugins/ecoquest-vision/dist
/frontend/capacitor-plugins/ecoquest-vision/node_modules
/frontend/ios/App/.DS_Store

/frontend/guidelines/
/backend/executorch/